@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<p>سلام حال شما خوب هست</p>

<p style="font-family:Vazirmatn">سلام حال شما خوب هست</p>


<div>

    <embed type="application/x-vlc-plugin" pluginspage="http://www.videolan.org" autoplay="yes" lop="no" height="28" runat="server" ID="Video" />

    <object classid="clsid:9BE31822-FDAD-461B-AD51-BE1D1C159921" codebase="http://download.videolan.org/pub/videolan/vlc/last/win32/axvlc.cab" height="28"></object>

</div>



<div>
    <asp:Button ID="button_play" runat="server" Text="Play" onclick="button_play_Click" />
</div>